@{
    ViewData["Title"] = "CreateNewVacancy";
}
<form method="post">
    <label>Name:</label><br />
    <input type="text" name="Name" /><br /><br />
    <label>Discription:</label><br />
    <input type="textarea" name="Discription" /><br /><br />
    <label>Salary:</label><br />
    <input type="number" name="Salary" /><br /><br />
    <input type="submit" value="Create" />
</form>